---
import { ScrollProgress } from '@/components/scroll-progress';
import Contact from '@/components/sections/contact.astro';
import ProjectDetailsSection from '@/components/sections/project-details.astro';
import ProjectRecommendationsSection from '@/components/sections/project-recommendations.astro';
import Layout from '@/layouts/layout.astro';
import { getProjects } from '@/lib/sanity/get-projects';
import { imageUrlFor } from '@/lib/sanity/sanity-image';
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';

export const getStaticPaths = (async () => {
  const projects = await getProjects();

  return projects.map((project) => ({
    params: { slug: project.slug.current },
    props: { project },
  }));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { project } = Astro.props;

const openGraphImage = {
  src: imageUrlFor(project.poster).format('png').width(1200).height(630).fit('crop').url(),
  alt: project.poster.alt,
};
---

<Layout
  title={`${project.name} ― Projects`}
  description={project.description}
  openGraphImage={openGraphImage}
>
  <ScrollProgress client:idle />
  <main id="main">
    <ProjectDetailsSection project={project} />
    <Contact />
    <ProjectRecommendationsSection project={project} />
  </main>
</Layout>
