---
import { ScrollProgress } from '@/components/scroll-progress';
import ProjectDetailsSection from '@/components/sections/project-details.astro';
import ProjectRecommendationsSection from '@/components/sections/project-recommendations.astro';
import Layout from '@/layouts/layout.astro';
import { getProjects, type Project } from '@/lib/sanity/get-projects';
import { imageUrlFor } from '@/lib/sanity/sanity-image';

export async function getStaticPaths() {
  const projects = await getProjects();

  return projects.map((project) => ({
    params: { slug: project.slug.current },
    props: { project },
  }));
}
export interface Props {
  project: Project;
}

const { project } = Astro.props;

const openGraphImage = {
  src: imageUrlFor(project.poster).format('png').width(1200).height(630).fit('crop').url(),
  alt: project.poster.alt,
};
---

<Layout
  title={`${project.name} ― Projects`}
  description={project.description}
  openGraphImage={openGraphImage}
>
  <ScrollProgress client:idle />
  <main id="main">
    <ProjectDetailsSection project={project} />
    <ProjectRecommendationsSection project={project} />
  </main>
</Layout>
