---
import Container from '@/components/ui/container';
import SanityImage from '@/components/ui/sanity-image';
import { Caption } from '@/components/ui/typography';
import Layout from '@/layouts/layout.astro';
import getBlogPosts from '@/lib/sanity/get-blog-posts';
import { cn, formatDateWithDay } from '@/lib/utils';

const blogPosts = await getBlogPosts();
---

<Layout title="Blog">
  <main id="main">
    <section class="flex min-h-screen justify-center py-28">
      <Container>
        <div class="mx-auto max-w-5xl">
          <div
            class="relative sm:ml-[calc(2rem+1px)] md:ml-[calc(3.5rem+1px)] lg:ml-[max(calc(14.5rem+1px),calc(100%-48rem))]"
          >
            <Caption>Blog</Caption>
            <h1
              class="mb-4 text-3xl font-bold leading-tight text-neutrals-50 md:text-5xl md:leading-tight"
            >
              Join our journey
            </h1>
            <p
              class="mb-11 max-w-prose leading-relaxed text-neutrals-300 lg:mb-14"
            >
              All the <span class="text-neutrals-100">latest news</span> and a
              glimpse into the <span class="text-neutrals-100"
                >inner workings</span
              > of the LOKKEE STUDIOS lab.
            </p>
          </div>
          <div
            class="relative sm:ml-[calc(2rem+1px)] md:ml-[calc(3.5rem+1px)] lg:ml-[max(calc(14.5rem+1px),calc(100%-48rem))]"
          >
            <div
              class="absolute bottom-0 right-full top-3 mr-7 hidden w-[0.5px] bg-neutrals-700 sm:block md:mr-[3.25rem]"
            >
            </div>
            <div class="flex flex-col gap-y-12">
              {
                blogPosts.map((blogPost, i) => (
                  <article class="relative">
                    <a
                      href={`/blog/${blogPost.slug.current}`}
                      aria-label={`Show ${blogPost.title} blog post`}
                      class="group flex items-center"
                    >
                      <div
                        class={cn(
                          'pointer-events-none absolute right-full top-2 mr-6 h-[calc(100%-0.5rem)] md:mr-12',
                          i === blogPosts.length - 1 &&
                            'via-neutrals-transparent bg-gradient-to-t from-neutrals-900 via-transparent to-transparent',
                        )}
                      >
                        <div class="pointer-events-auto h-2.5 w-2.5 rounded-full border-[1.5px] border-neutrals-400 bg-neutrals-900 lg:sticky lg:top-[100px]" />
                      </div>
                      <div class="relative">
                        <div class="mb-8 mt-10 w-full overflow-hidden rounded-md border-0.5 border-neutrals-50/40 lg:mt-0">
                          <SanityImage
                            image={blogPost.poster}
                            maxWidth={1024}
                            className="w-full"
                          />
                        </div>
                        <h2 class="mb-4 text-xl font-bold leading-tight text-neutrals-50 md:text-3xl md:leading-tight">
                          {blogPost.title}
                        </h2>
                        <p class="leading-relaxed text-neutrals-300 max-md:text-sm">
                          {blogPost.excerpt}
                        </p>
                        <p class="pointer-events-none absolute left-0 top-0 h-full lg:left-auto lg:right-full lg:mr-[calc(6.5rem+1px)]">
                          <time
                            datetime="2023-08-07T10:30:00.000Z"
                            class="pointer-events-auto whitespace-nowrap text-sm leading-6 text-neutrals-300 lg:sticky lg:top-24"
                          >
                            {formatDateWithDay(blogPost.date)}
                          </time>
                        </p>
                      </div>
                      <div class="absolute -inset-3 -z-10 rounded-md transition-colors group-hover:bg-neutrals-800/40 md:-inset-6" />
                    </a>
                  </article>
                ))
              }
            </div>
          </div>
        </div>
      </Container>
    </section>
  </main>
</Layout>
