---
/* imports */
import site from "../data/site";
/* import stylesheet */
import "../styles/global.css";

/* declare properties */
const { title } = Astro.props;
---

<head>
  <!-- reference core information -->
  <meta charset="UTF-8" />
  <title>{title}</title>
  <meta name="description" content={site.description} />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- reference open graph details -->
  <meta property="og:site_name" content="Lokkee Studios" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={site.description} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content={site.url} />
  <meta property="og:image" content="/icon.png" />

  <!-- reference favicons -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="any" />
  <link rel="icon" href="/icon.svg" type="image/svg+xml" />
  <link rel="apple-touch-icon" href="/icon.png" />

  <!-- reference manifest and theme color -->
  <link rel="manifest" href="/site.webmanifest" />
  <meta name="theme-color" content="#6919ff" />

  <!-- reference stylesheets -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/css/splide-core.min.css"
  />

  <!-- google font imports -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    rel="preload"
    as="style"
    href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap"
  />
  <link
    rel="stylesheet"
    media="print"
    onload="this.onload=null;this.removeAttribute('media');"
    href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap"
  />
  <noscript>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap"
    />
  </noscript>

  <!-- google site verification -->
  <meta name="google-site-verification" content="M5b_xgbjIoOjw_GHMkLyUdW-uSAfYHuL9Elqv5IloxQ" />

  <!-- global site tag - google analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-QRN4K9F9Q2"
  ></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-QRN4K9F9Q2', {
      cookie_flags: 'max-age=7200;secure;samesite=none',
    });
  </script>
</head>
