---
/* imports */
import Project from "../types/Project";
import { formatDate,getSanityImageUrl } from '../utils/helpers';

/* declare properties */
export interface Props {
  project: Project;
};

const { project } = Astro.props;
---

<li
  class="splide__slide h-screen group overflow-hidden"
  aria-label={project.name}
>
  <a href={`/projects/${project.slug.current}`}>
    <!-- preview of first image -->
    <img
      loading="lazy"
      src={getSanityImageUrl(project.images[0]).format("webp").auto("format").url()}
      alt={project.images[0].alttext}
      class="absolute right-0 object-cover object-center w-full h-full group-hover:scale-105 transition-all duration-500"
    />
    <div
      class="absolute right-0 w-full h-full bg-gradient-to-t from-neutrals-900"
    >
    </div>
    <div
      class="px-14 lg:px-36 py-[24vh] absolute z-10 bottom-0 w-full max-w-[92vw] lg:max-w-none"
    >
      <div
        class="transition-transform duration-500 group-hover:-translate-y-full"
      >
        <span class="text-sm md:text-base leading-relaxed max-w-prose">
          {formatDate(project.date)}
        </span>
        <h4
          class="mt-1 text-4xl lg:text-6xl font-display font-bold leading-[1.1] lg:leading-[1.1] mb-5"
        >
          {project.name}
        </h4>
      </div>
      <!-- description -->
      <div
        class="overflow-hidden -translate-y-full group-hover:translate-y-0 transition-transform duration-500 absolute bottom-[25vh]"
      >
        <div
          class="translate-y-full group-hover:translate-y-0 transition-transform duration-500"
        >
          <p
            class="text-sm md:text-base text-neutrals-50/80 leading-relaxed max-w-prose mt-4 translate-y-full group-hover:translate-y-0 transition-transform duration-500"
          >
            {project.description}
          </p>
        </div>
      </div>
      <!-- topic tags -->
      <div
        class="flex flex-row gap-4 group-hover:translate-y-[200%] transition-transform duration-500 border-b-[0.5px] border-neutrals-50/60 pb-3"
      >
        {project.tags && project.tags.map((tag: string[]) => (
          <span class="text-xs lg:text-sm">{tag}</span>
        ))}
      </div>
    </div>
  </a>
</li>
