---
import formatDate from '@utils/formatDate';
import type { Project } from '@utils/getProjects';
import sanityImageUrlFor from '@utils/sanityImageUrlFor';

export interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<!-- hero section -->
<section
  class="flex h-screen w-full items-center justify-center bg-neutrals-900 py-40 transition-all duration-75"
  aria-label="Hero"
>
  <!-- background layer -->
  <img
    class="absolute inset-0 h-full w-full object-cover object-center"
    src={sanityImageUrlFor(project.poster).url()}
    alt={project.poster.alttext}
  />
  <div
    class="absolute inset-0 h-full w-full bg-gradient-to-t from-neutrals-900"
  >
  </div>

  <div class="relative z-10 mx-auto h-full w-10/12 2xl:w-[80%]">
    <div class="absolute bottom-0 w-full">
      <!-- headline -->
      <span class="max-w-prose text-sm leading-relaxed md:text-base">
        {formatDate(project.date)}
      </span>
      <h1
        class="mt-1 mb-5 font-display text-4xl font-bold leading-[1.1] lg:text-6xl lg:leading-[1.1]"
      >
        {project.name}
      </h1>

      <!-- description -->
      <p
        class="mb-12 max-w-prose text-sm leading-relaxed text-neutrals-50/80 lg:text-base"
      >
        {project.description}
      </p>
      <div
        class="flex flex-row gap-4 border-b-[0.5px] border-neutrals-50/60 pb-3"
      >
        {
          project.tags &&
            project.tags.map((tag: string) => (
              <span class="text-xs lg:text-sm">{tag}</span>
            ))
        }
      </div>
    </div>

    <!-- links -->
    <div class="absolute bottom-3 right-0 flex flex-row items-center space-x-4">
      {
        project.projecturl && (
          <a
            href={project.projecturl}
            rel="noreferrer"
            target="_blank"
            title="View project"
            class="bg-neutrals-900/20 flex items-center justify-center rounded-full p-3"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 lg:h-7 lg:w-7"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
              <path
                fill-rule="evenodd"
                d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
        )
      }
      {
        project.githuburl && (
          <a
            href={project.githuburl}
            rel="noreferrer"
            target="_blank"
            title="View source code"
            class="bg-neutrals-900/20 flex items-center justify-center rounded-full p-3"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              style="fill: currentColor;transform: ;msFilter:;"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
              />
            </svg>
          </a>
        )
      }
    </div>

    <div class="absolute top-0 left-0 flex flex-row items-center space-x-4">
      <a
        href="/#work"
        title="Go back"
        class="flex items-center justify-center rounded-full bg-neutrals-900/20 p-3"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M7 16l-4-4m0 0l4-4m-4 4h18"
          ></path>
        </svg>
      </a>
    </div>
  </div>
  {
    project.images.length > 1 && (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="absolute bottom-12 mx-auto h-10 w-10 animate-bounce"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v3.586L7.707 9.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 10.586V7z"
          clip-rule="evenodd"
        />
      </svg>
    )
  }
</section>

{
  project.images.length > 0 && (
    <section
      class="bg-neutrals-50 flex w-full items-center py-10"
      aria-label="Gallery"
    >
      <div class="mx-auto w-10/12 2xl:w-[80%]">
        <div class="flex w-full flex-col gap-y-10">
          {project.images.map((image) => (
            <img
              loading="lazy"
              src={sanityImageUrlFor(image).format('webp').auto('format').url()}
              alt={image.alttext}
              class="max-h-[100vh] w-full object-cover object-center"
            />
          ))}
        </div>
        <a
          href="/#work"
          title="Go back"
          class="font-bol text-neutrals-900 hover:text-primary group mb-20 mt-10 flex items-center justify-center text-lg transition-colors duration-300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="mr-2 inline h-5 w-5 transition-transform duration-300 group-hover:-translate-x-2 lg:h-7 lg:w-7"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M7 16l-4-4m0 0l4-4m-4 4h18"
            />
          </svg>{' '}
          Go back
        </a>
      </div>
    </section>
  )
}
