---
import ButtonLink from '@/components/ui/button-link';
import Container from '@/components/ui/container';
import Icons from '@/components/ui/icons';
import SanityImage from '@/components/ui/sanity-image';
import type { Project } from '@/lib/get-projects';
import { formatDate } from '@/lib/utils';

export interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<section
  aria-labelledby="project-details-heading"
  class="relative flex min-h-screen w-full bg-neutrals-900 py-[14vh] after:absolute after:inset-0 after:h-full after:w-full after:bg-gradient-to-t after:from-neutrals-900 after:to-neutrals-900/60"
>
  <SanityImage
    image={project.poster}
    isAboveTheFold
    sizes="(max-width: 1024px) 200vw, 100vw"
    className="absolute inset-0 h-full w-full object-cover object-center"
  />
  <Container>
    <div class="relative z-10 flex h-full flex-col justify-end">
      <a
        href="/#work"
        title="Go back"
        class="group absolute left-0 top-0 flex items-center justify-center transition-opacity hover:opacity-80 focus-visible:opacity-80"
      >
        <Icons.ArrowLongLeft
          aria-hidden
          className="mr-2 h-6 w-6 transition-transform duration-300 group-hover:-translate-x-1 group-focus-visible:-translate-x-1 lg:h-7 lg:w-7"
        /> Go back
      </a>
      <time
        datetime={project.date}
        class="mb-4 text-xs uppercase text-neutrals-50/90 lg:text-sm"
      >
        {formatDate(project.date)}
      </time>
      <h1
        id="project-details-heading"
        class="mb-4 text-4xl font-bold lg:text-6xl"
      >
        {project.name}
      </h1>
      <p class="mb-8 max-w-prose leading-relaxed text-neutrals-50/90">
        {project.description}
      </p>
      {
        project.tags && (
          <p class="text-xs text-neutrals-50/90 lg:text-sm">
            {project.tags.join(', ')}
          </p>
        )
      }
      <hr
        class="mb-8 mt-4 h-px border-0 bg-gradient-to-r from-neutrals-50/40 to-transparent"
      />
      <div class="flex gap-x-4">
        {
          project.projecturl && (
            <ButtonLink
              href={project.projecturl}
              rel="noreferrer"
              target="_blank"
              size="small"
            >
              <Icons.Eye
                aria-hidden
                className="h-5 w-5 mr-2"
              />{' '}
              View Project
            </ButtonLink>
          )
        }
        {
          project.githuburl && (
            <ButtonLink
              href={project.githuburl}
              rel="noreferrer"
              target="_blank"
              size="small"
              isGhost
            >
              <Icons.GitHub
                aria-hidden
                className="h-5 w-5 mr-2"
              />{' '}
              View Source Code
            </ButtonLink>
          )
        }
      </div>
    </div>
    {
      project.images.length > 0 && (
        <a
          href="#project-gallery"
          class="absolute inset-x-0 bottom-[3vh] z-10 mx-auto w-fit animate-bounce"
        >
          <Icons.ArrowDownCircle className="h-9 w-9" />
        </a>
      )
    }
  </Container>
</section>
{
  project.images.length > 0 && (
    <section
      id="project-gallery"
      aria-label="Project Gallery"
      class="bg-neutrals-900"
    >
      <div class="mx-auto max-w-7xl">
        {project.images.map((image) => (
          <SanityImage
            image={image}
            maxWidth={1280}
            className="w-full"
          />
        ))}
      </div>
    </section>
  )
}
