---
const { project } = Astro.props;
---

<li class="splide__slide" aria-label={project.name}>
  <!-- right/upper side -->
  <img
    src={project.images[0]}
    alt="Image of project"
    class="absolute right-0 object-cover object-center h-3/5 w-full lg:h-full lg:w-3/5"
  />
  <div
    class="absolute right-0 bg-gradient-to-t lg:bg-gradient-to-r from-neutrals-900/70 h-3/5 w-full lg:h-full lg:w-3/5"
  >
  </div>

  <!-- left/bottom side -->
  <div class="w-full h-full bg-neutrals-900 flex items-end">
    <div class="h-2/5 w-full lg:h-full lg:w-2/5 p-6 lg:p-16 flex flex-col">
      <!-- topic tags -->
      <div class="flex flex-row gap-4">
        {project.tags.map((tag: string[]) => (
          <span class="bg-brand whitespace-nowrap px-2 lg:px-3 py-1 rounded-sm text-xs lg:text-sm drop-shadow-md">
            {tag}
          </span>
        ))}
      </div>
      <h4 class="mt-6 lg:mt-12 text-3xl lg:text-6xl font-display">
        {project.name}
      </h4>
      <p class="text-neutrals-50/60 leading-relaxed max-w-prose mt-2">
        {project.description}
      </p>

      <!-- anchor links -->
      <div class="mt-auto flex gap-4">
        <a
          href="#"
          class="whitespace-nowrap px-3 py-2 lg:px-5 lg:py-3 bg-neutrals-50 text-neutrals-900 text-xs lg:text-sm flex items-center bg-[length:140%] bg-no-repeat bg-[position:400%] hover:bg-[position:50%] hover:text-neutrals-50 transition-all duration-500"
          style="background-image: url('/assets/button-brand.svg')"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 lg:h-5 lg:w-5 inline mr-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
            ></path>
          </svg>
          View project</a
        >
        <a
          href="/#"
          class="whitespace-nowrap px-3 py-2 lg:px-5 lg:py-3 bg-neutrals-50 text-neutrals-900 text-xs lg:text-sm flex items-center bg-[length:140%] bg-no-repeat bg-[position:400%] hover:bg-[position:50%] hover:text-neutrals-50 transition-all duration-500"
          style="background-image: url('/assets/button-brand.svg')"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 inline mr-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path>
          </svg>
          Source code</a
        >
      </div>
    </div>
  </div>
</li>
