---
const { title } = Astro.props;

const description: string =
  "I'm Lokkee, a passionate freelancer bringing you programming and design from the future. I am experienced in developing web and desktop applications including full front end design. This includes brand identity, graphics and illustrations.";
const url: string = "https://lokkeestudios.com";

const github: string = "https://github.lokkeestudios.com";
const discord: string = "https://discord.lokkeestudios.com";
---

<!-- DESIGNED and DEVELOPED by LOKKEE (https://lokkeestudios.com) -->
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <!--======= INITIALIZATION ========-->
  <head>
    <!-- reference core information -->
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- reference open graph details -->
    <meta property="og:site_name" content="Lokkee Studios" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:image" content="/icon.png" />

    <!-- reference favicons -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/icon.png" />

    <!-- reference manifest and theme color -->
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#6919ff" />

    <!-- reference stylesheets -->
    <link rel="stylesheet" href={Astro.resolve("../styles/index.css")} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/css/splide-core.min.css"
    />

    <!-- import google fonts -->
    <link crossorigin rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap"
    />
  </head>

  <body
    class="font-body bg-neutrals-900 text-neutrals-50 selection:bg-brand-light/90 w-full"
  >
    <!--======= LOADER ========-->
    <div
      id="loader"
      class="flex fixed top-0 z-50 h-screen w-screen bg-neutrals-900 justify-center items-center"
    >
      <img id="loader-logo" class="absolute h-20 w-20" src="/assets/logo.svg" />
    </div>

    <!--======= NAVIGATION ========-->
    <header class="fixed top-0 z-40 w-full" aria-label="Banner">
      <nav
        id="navigation"
        class="bg-transparent"
        aria-label="Primary"
        role="navigation"
      >
        <div class="mx-auto w-10/12 lg:w-3/4 2xl:w-[80%]">
          <div
            class="flex justify-between md:items-center flex-col md:flex-row relative"
          >
            <!-- logo -->
            <a
              class="flex items-center font-display py-5 md:py-6 text-sm lg:text-base uppercase"
              href="./"
            >
              <strong class="mr-1">Lokkee</strong>Studios
            </a>

            <!-- mobile button -->
            <input type="checkbox" class="peer hidden" id="mobile-toggle" />

            <!-- open icon -->
            <label
              for="mobile-toggle"
              class="flex items-center justify-center w-7 h-7 cursor-pointer md:hidden absolute top-[1.125rem] right-0 peer-checked:hidden"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 hover:w-7 hover:h-7 transition-all duration-200"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"></path>
              </svg>
            </label>

            <!-- close icon -->
            <label
              for="mobile-toggle"
              class="items-center justify-center w-7 h-7 cursor-pointer hidden md:hidden absolute top-[1.125rem] right-0 peer-checked:flex"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 hover:w-7 hover:h-7 transition-all duration-200"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </label>
            <div
              class="hidden flex-row justify-between items-center md:space-x-8 md:flex peer-checked:flex"
            >
              <!-- primary navigation -->
              <div class="flex items-center space-x-4 mb-2 md:mb-0">
                <a
                  class="text-xxs lg:text-xs uppercase pr-2 py-4 md:py-6 hover:underline focus:underline"
                  href="/#about">About</a
                >
                <a
                  class="text-xxs lg:text-xs uppercase px-2 py-4 md:py-6 hover:underline focus:underline"
                  href="/#work">Work</a
                >
                <a
                  class="text-xxs lg:text-xs uppercase pl-2 py-4 md:py-6 hover:underline focus:underline"
                  href="/#contact">Contact</a
                >
              </div>

              <!-- secondary navigation -->
              <div class="flex items-center space-x-2">
                <a
                  href={github}
                  rel="noreferrer"
                  target="_blank"
                  title="GitHub profile"
                  class="w-7 h-7 lg:w-8 lg:h-8 flex items-center justify-center"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 hover:w-7 hover:h-7 lg:w-7 lg:h-7 lg:hover:w-8 lg:hover:h-8 transition-all duration-200"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
                    ></path>
                  </svg>
                </a>
                <a
                  href={discord}
                  rel="noreferrer"
                  target="_blank"
                  title="Discord server"
                  class="w-7 h-7 lg:w-8 lg:h-8 flex items-center justify-center"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 hover:w-7 hover:h-7 lg:w-7 lg:h-7 lg:hover:w-8 lg:hover:h-8 transition-all duration-200"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                  >
                    <path
                      d="M14.82 4.26a10.14 10.14 0 0 0-.53 1.1 14.66 14.66 0 0 0-4.58 0 10.14 10.14 0 0 0-.53-1.1 16 16 0 0 0-4.13 1.3 17.33 17.33 0 0 0-3 11.59 16.6 16.6 0 0 0 5.07 2.59A12.89 12.89 0 0 0 8.23 18a9.65 9.65 0 0 1-1.71-.83 3.39 3.39 0 0 0 .42-.33 11.66 11.66 0 0 0 10.12 0q.21.18.42.33a10.84 10.84 0 0 1-1.71.84 12.41 12.41 0 0 0 1.08 1.78 16.44 16.44 0 0 0 5.06-2.59 17.22 17.22 0 0 0-3-11.59 16.09 16.09 0 0 0-4.09-1.35zM8.68 14.81a1.94 1.94 0 0 1-1.8-2 1.93 1.93 0 0 1 1.8-2 1.93 1.93 0 0 1 1.8 2 1.93 1.93 0 0 1-1.8 2zm6.64 0a1.94 1.94 0 0 1-1.8-2 1.93 1.93 0 0 1 1.8-2 1.92 1.92 0 0 1 1.8 2 1.92 1.92 0 0 1-1.8 2z"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <!--======= PAGE CONTENT ========-->
    <slot />

    <!--======= FOOTER ========-->
    <footer class="w-full relative bottom-0 py-6 z-10" aria-label="Primary">
      <div class="mx-auto w-10/12 lg:w-3/4 2xl:w-[80%]">
        <!-- secondary links -->
        <div
          class="flex flex-col lg:flex-row justify-center items-center w-full py-8"
        >
          <img
            class="h-16 w-16"
            src="/assets/logo.svg"
            alt="Lokkee Studios logo"
          />
        </div>

        <!-- primary links -->
        <div
          class="flex flex-row justify-center items-center w-full py-8 border-t-2 border-t-neutrals-500 gap-5 md:gap-12 lg:gap-20"
        >
          <a
            class="text-xs lg:text-sm uppercase pr-2 py-4 md:py-6 hover:underline focus:underline"
            href="/#about">About</a
          >
          <a
            class="text-xs lg:text-sm uppercase px-2 py-4 md:py-6 hover:underline focus:underline"
            href="/#work">Work</a
          >
          <a
            class="text-xs lg:text-sm uppercase pl-2 py-4 md:py-6 hover:underline focus:underline"
            href="/#contact">Contact</a
          >
          <a
            class="text-xs lg:text-sm uppercase pl-2 py-4 md:py-6 hover:underline focus:underline"
            href="/#sourcecode">Source code</a
          >
        </div>

        <!-- policy -->
        <div
          class="flex flex-col lg:flex-row justify-center items-center w-full py-8 border-t-2 border-t-neutrals-500 gap-y-4"
        >
          <div class="flex basis-1/3 py-4 justify-center lg:justify-start">
            <p class="text-xxs lg:text-xs">
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear().toString());
              </script>
              Lokkee Studios All Rights Reserved.
            </p>
          </div>
          <div class="flex basis-1/3 justify-center gap-2 py-4">
            <a
              href={github}
              rel="noreferrer"
              target="_blank"
              title="Github Page"
              class="w-7 h-7 lg:w-8 lg:h-8 flex items-center justify-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 hover:w-7 hover:h-7 lg:w-7 lg:h-7 lg:hover:w-8 lg:hover:h-8 transition-all duration-200"
                viewBox="0 0 24 24"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
                ></path>
              </svg>
            </a>
            <a
              href={discord}
              rel="noreferrer"
              target="_blank"
              title="Discord Server"
              class="w-7 h-7 lg:w-8 lg:h-8 flex items-center justify-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 hover:w-7 hover:h-7 lg:w-7 lg:h-7 lg:hover:w-8 lg:hover:h-8 transition-all duration-200"
                viewBox="0 0 24 24"
                fill="currentColor"
              >
                <path
                  d="M14.82 4.26a10.14 10.14 0 0 0-.53 1.1 14.66 14.66 0 0 0-4.58 0 10.14 10.14 0 0 0-.53-1.1 16 16 0 0 0-4.13 1.3 17.33 17.33 0 0 0-3 11.59 16.6 16.6 0 0 0 5.07 2.59A12.89 12.89 0 0 0 8.23 18a9.65 9.65 0 0 1-1.71-.83 3.39 3.39 0 0 0 .42-.33 11.66 11.66 0 0 0 10.12 0q.21.18.42.33a10.84 10.84 0 0 1-1.71.84 12.41 12.41 0 0 0 1.08 1.78 16.44 16.44 0 0 0 5.06-2.59 17.22 17.22 0 0 0-3-11.59 16.09 16.09 0 0 0-4.09-1.35zM8.68 14.81a1.94 1.94 0 0 1-1.8-2 1.93 1.93 0 0 1 1.8-2 1.93 1.93 0 0 1 1.8 2 1.93 1.93 0 0 1-1.8 2zm6.64 0a1.94 1.94 0 0 1-1.8-2 1.93 1.93 0 0 1 1.8-2 1.92 1.92 0 0 1 1.8 2 1.92 1.92 0 0 1-1.8 2z"
                ></path>
              </svg>
            </a>
          </div>
          <div class="flex basis-1/3 justify-center lg:justify-end">
            <a
              class="text-xxs lg:text-xs uppercase py-4 md:py-6 hover:underline focus:underline"
              href="/imprint">Imprint</a
            >
          </div>
        </div>
      </div>
    </footer>

    <script type="module" src={Astro.resolve("../ts/index.ts")}></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      window.ga = function () {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga("create", "UA-XXXXX-Y", "auto");
      ga("set", "anonymizeIp", true);
      ga("set", "transport", "beacon");
      ga("send", "pageview");
    </script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>
  </body>
</html>
